/* CSS file                          */
/* Blackosx 2014-2015                */
/* v0.0.0                            */

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    overflow: auto;
}

body {
   background: #000 url(../assets/758v3.png) no-repeat right top;
   background-size: 100% 100%;
}

p {
    font-family: 'Roboto', sans-serif;
}



/* ===================================================================== */
/*                               HEADER                                  */
/* ===================================================================== */

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 66px;
    background-color: #000;
    box-shadow: 0px 2px 6px #000;
    -webkit-user-select: none;
}

/* ===================================================================== */
/*                               CONTENT                                 */
/* ===================================================================== */

#content {
    position: fixed;
    top: 66px;
    bottom: 139px; 
    left: 0;
    right: 0;
    background-color: #000;
    overflow: auto;
}

/* ===================================================================== */
/*                               FOOTER                                  */
/* ===================================================================== */

#footer {
    position: fixed;
    height: 139px;  /* Must match bottom of #content */
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000;
    -webkit-user-select: none;
}

#FooterLinks {
    width: 100%;
    height: 36px;
    border-top: 2px solid #333;
    background-color: #737075;
    background-image: -webkit-linear-gradient(top, rgba(9,10,9,1) 0%,rgba(20,22,22,1) 31%,rgba(27,31,29,1) 65%,rgba(7,7,7,1) 100%);
}

/* ===================================================================== */
/*                           TEXT CLASSES                                */
/* ===================================================================== */

.textFooter {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #FFF;
    text-align: center;
    margin-top:10px;
}